@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLORS 
  Primary: 222831
  Secondary: 2D4059
  Accent: FF5722
  Text: EEEEEE
*/

@layer components {
  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  *::-webkit-scrollbar-thumb {
    background-color: #ff5722;
    border-radius: 20px;
    border: 3px solid lighten(#222831, 10%);
    z-index: 99;
  }

  * {
    font-family: "Oswald";
  }
  .bg-dark {
    background: darken(#222831, 5%);
  }
  .bg-light {
    background: lighten(#222831, 10%);
  }
  .darker-text {
    color: darken(#eeeeee, 40%);
  }

  .applicationButton[data-status="pending"] {
    @apply border-[#f2ff80];
  }
  .applicationButton[data-status="approved"] {
    @apply border-[#80ff8c];
  }
  .applicationButton[data-status="denied"] {
    @apply border-[#ff5c5c];
  }

  .nav-item {
    @apply px-1 tracking-[3px] text-[#EEEEEE]/80;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }
  .nav-item:hover {
    color: white;
  }
  .nav-item::before {
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    height: 2px;
    text-align: center;
    background-color: #ff5722;
    transition: width 0.3s;
  }

  .nav-item:hover::before {
    width: 100%;
    transition: width 0.3s;
  }

  .animate-button {
    width: 140px;
    @apply h-14 flex justify-center items-center transition duration-[.3s] ease-in-out bg-transparent;
    text-align: center;
    z-index: 20;
    &:hover {
      @apply tracking-[1px];
    }
  }

  .blurple {
    --color: #7289da;
  }

  .orange {
    --color: #ff5722;
  }

  .bg-hover:hover {
    @apply bg-[var(--color)];
  }

  #mobile-menu {
    @apply h-0 overflow-hidden transition-all duration-300;
  }

  .open {
    @apply h-screen bg-red-500;
  }
  .sidebar-item {
    position: relative;
    @apply transition p-3 text-xl font-light w-full text-center;
    &:hover {
      background: #222831;
    }
  }
  .sidebar-item::before {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    text-align: center;
    background-color: #ff5722;
    transition: width 0.1s ease-out;
  }
  .sidebar-item:hover::before {
    width: 4px;
    transition: width 0.1s ease-out;
  }
}
